################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/testingGithub/.vs/testingGithub
/testingGithub/testingGithub/bin/Debug/netcoreapp3.1
/testingGithub/testingGithub/obj
