
@model IEnumerable<BookModel>;

@{
    ViewData["Title"] = "GetAllBooks";

}

@{

    var dataas = new Dictionary<string, string>()
            {
                {"id", "sagar"},
                {"name", "Mallik"}
            };

}


<div class = "container" >
    <h3 class = "display-4"> All books</h3>
    <div class = "row">


        @foreach (var book in Model)
       {
           <div class="col-md-4">
            <partial name = "_BookThumbnail" model = "@book" />

        </div>
       }
</div>
</div>


