<footer class="border-top footer text-muted text-center">
        <div class="container">
            Copyright  &copy; Book Store @DateTime.Now.Year
            <custom-email contact = "sarbajyoti123@gmail.com"></custom-email>
            
        </div>
    </footer>