<meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] | Facebook</title>
    <link rel = "stylesheet" href = "~/css/Style.css" />
    
    <link rel = "stylesheet" href = "~/lib/twitter-bootstrap/css/bootstrap.css" />


    

    <environment exclude = "Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.4/css/bootstrap.min.css" integrity="" crossorigin="anonymous">
        <link rel = "stylesheet" asp-fallback-href = "~/lib/twitter-bootstrap/css/bootstrap.css"
        
        asp-fallback-test-class = "sr-only"
        asp-fallback-test-property = "position"
        asp-fallback-test-value = "absolute"
        
        />

        

    </environment>