@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signinuser

@if (_signinuser.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello @(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value )
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  asp-route = "logout" >Logout</a>
            <a class = "dropdown-item" asp-route = "forgetpasswordd">Forget Password</a>
        </div>
    </li>
}
else
{
    <li class="nav-item">
    
    <a asp-route = "login" asp-route-returnUrl = "@Context.Request.Path" class="btn btn-outline-primary">Login</a>
    <a asp-route = "signup" class="btn btn-primary">Register</a>
</li>
}
