@model testingGithub.Models.ResetPasswordModel

@{
    ViewData["Title"] = "ResetPasswordd";
    Layout = "~/Views/Shared/_HomeView.cshtml";
}


<h4>ResetPasswordModel</h4>
<hr />
@if(Model?.IsSuccess == true)
{
    <p>Password Reset Successfully!!!!</p>
}
else
{
    <div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPasswordd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Userid" class="form-control" type = "hidden" />
                <input asp-for="Token" class="form-control" type = "hidden" />
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reset Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

}


